<h1>Add info below</h1>

<%= form_for @beverage do |f| %>
  Username: <%= f.text_field :username %>
  Email: <%= f.text_field :email %>
  DOB: <%= f.text_field :dob %>

  <%= f.submit "Add" %>
<% end %>